.audio-tag
  width 100%

.button-custom
  -webkit-border-radius 10px
  border-radius 10px
  border none
  color #004A7F
  cursor pointer
  display inline-block
  padding: 2px 4px
  text-align center
  text-decoration none
  -webkit-animation glowing 1600ms infinite
  -moz-animation glowing 1600ms infinite
  -o-animation glowing 1600ms infinite
  animation glowing 1600ms infinite
  margin-bottom 5px

@-webkit-keyframes glowing
  0%
    -webkit-box-shadow 0 0 2px #B20000
  50%
    -webkit-box-shadow 0 0 8px #FF0000
  100%
    -webkit-box-shadow 0 0 2px #B20000

@-moz-keyframes glowing
  0%
    -moz-box-shadow 0 0 2px #B20000
  50%
    -moz-box-shadow 0 0 8px #FF0000
  100%
    -moz-box-shadow 0 0 2px #B20000

@-o-keyframes glowing
  0%
    box-shadow 0 0 2px #B20000
  50%
    box-shadow 0 0 8px #FF0000
  100%
    box-shadow 0 0 2px #B20000

@keyframes glowing
  0%
    box-shadow 0 0 2px #B20000
  50%
    box-shadow 0 0 8px #FF0000
  100%
    box-shadow 0 0 2px #B20000
